{% extends 'base.html' %}
{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Contact Us</h1>
  <p class="fs-5 text-body-secondary">Use the below links to contact us for any queries</p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Email</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Pleas use the following email to contact us</li>
          <li><a href="mailto:maxwellmcgrath12@gmail.com">serrao.BCMT@outlook.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Phone Number</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Please contact us using the following Numbers</li>
          <li><a href="tel:971554091635">Phone: +971554091635</a></li>
          <li><a href="tel:971503507180">Phone: +971503507180</a></li>
          <li><a href="tel:97143577394">Phone: +97143577394</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm ">
      <div class="card-header py-3 text-bg-primary ">
        <h4 class="my-0 fw-normal">Whatsapp</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Please contact us using Whatsapp</li>
          <li><a href="https://api.whatsapp.com/send/?phone=971554091635&text&type=phone_number&app_absent=0">Contact us on Whatsapp</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}